.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
.center-v{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-login{
    width: 100%;
}
.title{
    text-align: center;
    margin-bottom: 100px;
}
td{
    padding: 5px;
}